@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
html {
  background-color: #222;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffffe0;
}

/* a:hover {
  color: #00FF97;
} */