@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffffe0;
}

.light {
  --background: #ffffff;
  --content: #181818;
  --cta: #3582fd;
  --cta-text: #fff;
  --card: #e7e7e7;
}

.dark {
  --background: #101010;
  --content: #ffffff;
  --cta: #F59E00;
  --cta-text: #000;
  --card: #1c1c1c;
}
